body{
    background: #BDDDE4;
}
.function{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.main{
    margin-top: 30px;
    width: 400px;
    height: 400px;
    background: #E9F5BE;
    border-radius: 35px;
    border: 2px solid black;
    transition: all linear .3s;

}
button{
    margin-top: 30px;
    margin-left: 50px;
    width: 60px;
    height: 23px;
    border-radius: 50px;
}
.button1{
    background: yellow;
}
.button2{
    color: white;
    background: green;
}
.button3{
    background: pink;
}
.button4{
    color: white;
    background: purple;
}
.button5{
    background: greenyellow;
}
.quantity{
    margin-left: 320px;
    display: flex;
    align-items: center;
    gap: 20px;
    button{
        margin: 0;
    }
}
.InputDiv{
    margin-left: 323px;
}
.error{
    background-color: white;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
    padding-bottom: 20px;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 10px),
        calc(50% + 10px) calc(100% - 10px),
        50% 100%,
        calc(50% - 10px) calc(100% - 10px),
        0% calc(100% - 10px)
    );
    transition: all ease 300ms;
    display: inline-block;
    transform: translate(-2px, -27px);
    display: none;
    position: absolute;
}
.color_div{
    display: none;
}
.InputText{
    display: none;
}